*.pyc
*.csv
*.dat
*.pdf
*.tmp
*.lock
*.fastq.gz
*.fasta
*.bt2
*.gff
*.output
*.bed
*.cpython*
*.sam
*.align_out
*.count_reads
*.infer_experiment_out
*.txt
*.csv
*.cpython-36.pyc
*.xls
*.cpython.*
pycache.*
